.login-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('/images/contents/login-back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 1rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1.0rem;
  margin-top: auto;
  margin-bottom: 15px;
}

.login-input {
  height: 70px;
  width: 380px;
  font-size: 30px;
  padding: 0.5rem 1rem;
  border: 7px solid #000000;
  border-radius: 0.8rem;
  outline: none;
  box-sizing: border-box;
  background-color: #FFE7E7;
}

.login-input:focus {
  border-color: #ff8800;
}

.start-button {
  height: 120px;
  width: 380px;
  font-size: 60px;
  font-weight: bold;
  background-color: #FF3333;
  color: #ffffff;
  border: 9px solid #000000;
  border-radius: 1.0rem;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

.start-button:hover {
  background-color: #ff7171;
  border: 9px solid #525252;
  transform: translateY(-2px) scale(1.02);
}